<h1>呟いた日々 一覧</h1>

<table>
  <tr>
    <th>呟きの内容</th>
  </tr>

<% @posts.each do |post| %>
  <tr>
    <td><%= post.content %></td>
    <td><%= link_to 'つぶやきを確認する', post_path(post.id) %></td>
  </tr>
<% end %>
</table>
<%= link_to 'これから呟く', new_post_path %>